<div class="container mt-4">
    <div class="terminal responsive">
        <div>
            <div class="container">
                <table class="table text-center  table-striped" style="border-color:white;font-size: medium;">
                    <tr class="table-group-divider border border-white bg-light text-black" style="height: 3em;">

                        <th>No</th>
                        <th>File</th>
                    
                    </tr>

                    <tr *ngFor="let cr of courseList" class="mt-5 border border-white" style="height: 5em;">
                        <td>{{cr.id}}</td>
                        <td>{{cr.fileName}}</td>
                        
                    </tr>

                </table>
                <p></p>
                <p></p>
            </div>
            <router-outlet></router-outlet>