<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card w-75 shadow-2-strong card-registration" style="border-radius: 15px;">
  
            <div class="card-body p-4 p-md-5 ">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Delete User</h3>
              <form [formGroup]="deleteCourseForm">
                <div class="row">
                  <div class="col mb-4">
  
                    <div class="form-outline">
                      <label class="form-label">CourseId</label>
                      <input type="text" class="form-control form-control-lg" formControlName="courseId" />
  
  
                      <div *ngIf="deleteCourseForm.get('courseId')!.touched && deleteCourseForm.get('courseId')!.invalid">
                        <div *ngIf="deleteCourseForm.get('courseId')!.hasError('required')">
  
                          <font color="red">Courseid Required</font>
                        </div>
                        <div *ngIf="deleteCourseForm.get('courseId')!.hasError('pattern')">
                          <font color="red">*Invalid Courseid </font>
                        </div>
                      </div>
                    </div>
  
                  </div>
                </div>
                <div class="pt-1 mb-4">
                  <button class="btn btn-dark btn-lg btn-block" type="button" (click)="DeleteuserDetails(deleteCourseForm.value)">Delete</button>
                </div>
  
                <div class="row">
                  <div class="col">
                    <p class="mb-5 pb-lg-2" style="color: #393f81;"><a routerLink="/AdminHome"
                      style="color: #393f81;text-decoration: none;">Return to Home</a></p>
                  </div>
                  <div class="col">
                    <p class="mb-5 pb-lg-2" style="color: #393f81;"><a routerLink="/UserTable"
                      style="color: #393f81;text-decoration: none;">Return to Table</a></p>
                  </div>
                </div>

      
                
                   
        
             </form>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </section>

  
  